package sites

templ IndexComponent(pageTitle string) {
	<html>
		@HeaderComponent("Cedric's Portfolio")
		@indexBody(pageTitle)
	</html>
}

templ indexBody(pageTitle string) {
	<body>
		<div>{ pageTitle }</div>
		@CopyrightComponent()
	</body>
}
